body {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}

.content {
   max-width: 1024px; 
   margin: auto;
   padding-bottom: 50px;
}
